html
    body
        h1 #{appName}
        h2 Sign Up
        form(action="/adduser" method="post")
            label Name
            input(type="text" name="user")
            label Password
            input(type="password" name="password")
            input(type="submit")